* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Header--------------------------------------------------------------- */
.head-text {
  padding-top: 15px;
  padding-bottom: 5px;
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;

  font-family: "AvaraBold";
  font-weight: bolder;
  font-style: normal;
}

/* Cards-------------------------------------------------------------- */
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 400px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);

  color: #fff;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
  background-image: url("https://i.pinimg.com/originals/a1/d5/71/a1d57176a002c4e1bf971adaac0ac621.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-body .btn {
  display: block;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);

  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}
/* FORM---------------------------------------------------------------------------------------------------- */
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-top: 5%;
}

.form {
  margin: -5% auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px;
  justify-content: center;
}

.form-text {
  margin-right: 4%;
  font-family: "AvaraBold";
  font-weight: normal;
  font-style: normal;
}

.form-text,
.msg {
  width: 100%;
}

.form-text .input,
.msg select {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #90ee90;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.submit {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
}

.cal {
  margin-bottom: 5%;
}

/* Submit--------------------------------------------------------------------------- */
.submit-header {
  margin-top: 5%;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}

.booking-details {
  text-align: center;
  margin: auto;
  width: 40%;
  border: 3px solid green;
  padding: 10px;
  background-image: url("https://i.pinimg.com/originals/a1/d5/71/a1d57176a002c4e1bf971adaac0ac621.jpg");
}

/* Calendar----------------------------------------------- */
.cal {
  margin-right: 5%;
}
